<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      >
    <head th:fragment="head">
        <title>Happy Times</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body class="container">
        <header th:fragment="header" class="header">
            <nav class="p-2 navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}">Happy Times</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/pruebas/listado}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/descuento/listado}">Descuentos</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <section id="main-header" class="py-2 bg-info text-black">
                <div class="container mt-4">
                    <div class="jumbotron">
                        <h1 class="display-4">¡Encuentra el regalo perfecto!</h1>
                        <p class="lead">En nuestra tienda de regalos tenemos una gran variedad de productos para todas las ocasiones.</p>
                    </div>
                </div>
            </section>
        </header>
        <footer th:fragment="footer">
            <div class="text-center mt-5 p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2024 Happy Times
            </div>
        </footer>
    </body>
</html>
